<header>
  <h1>Current</h1>
</header>
<div class="card">
  <form class="container">
    <p style="background-color: royalblue; padding: 20px; margin-bottom: 0; ">Enter Amount</p>
    <span style="color: rgb(46, 44, 44);  font-size: 12px;">Enter the amount you want to convert.</span>
    <input class="text-input" type="number" name="amount" id="amount" #amount/>
    <hr>
    <div style="display: flex; flex-direction: row;">
      <div class="drop">
        <select name="dropdown" id="dropdown" #from>
          <option *ngFor="let cur of available_currencies" [value]="cur">{{cur}}</option>
        </select>
      </div>
      <span style="color: black; margin: 20px; font-size: 15px;">TO</span>
      <div class="drop">
        <select name="dropdown2" id="dropdown2" #to>
          <option *ngFor="let cur of available_currencies" [value]="cur">{{cur}}</option>
        </select>
      </div>
    </div>
    <button (click)="onClickConvert(from.value, to.value, amount.value)" class="btn">Convert</button>
  </form>
  <hr>
  <p style="color: black; font-size: 13px;" *ngIf="converted_amount" > {{converted_cur}} {{converted_amount}}</p>
</div>

